* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-family: sans-serif;
}

header {
  color: white;
  background-color: rgb(40, 116, 240);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}

.responsive_menu,
.burger_menu {
  display: none;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo a {
  text-decoration: none;
  color: white;
  font-style: italic;
  font-size: 13px;
}

.logo a span {
  color: rgb(80, 230, 255);
}

.logo a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
}

nav ul li:last-child {
  display: none;
}

nav ul li {
  font-weight: bold;
  display: inline;
  padding-left: 20px;
  cursor: pointer;
}

nav ul ul li {
  display: block;
  height: 30px;
  margin-top: 20px;
  border-bottom: 1px solid lightgrey;
  width: 230px;
}

nav ul ul {
  display: none;
}

nav ul li:hover ul {
  display: block;
  position: absolute;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

.mobnav {
  display: none;
}

#moresub {
  display: none;
  position: absolute;
  right: 100px;
  border-radius: 5px;
}

.more:hover #moresub {
  display: block;
}

.fa-user-circle, .fa-plus-square{
  color:red;
}

.search {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
}

.search input[type="text"] {
  width: 700px;
  height: 32px;
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search button {
  border: none;
  width: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search button i {
  color: rgb(40, 116, 240);
  height: 32px;
  font-size: 25px;
  border: none;
  text-align: center;
  line-height: 32px;
}

.login button {
  width: 130px;
  font-weight: bold;
  background-color: white;
  color: rgb(40, 116, 240);
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
}

.mobnav {
  color: white;
  position: absolute;
  top: 65px;
  left: 0;
  width: 70%;
  border-radius: 5px;
}

.headmobnav {
  background-color: rgb(40, 116, 240);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.fa-circle-user {
  font-size: 20px;
}

.headmobnav img {
  vertical-align: middle;
  height: 30px;
}

.mobnav ul {
  background-color: white;
}

.mobnav ul li {
  list-style: none;
  padding-top: 10px;
  text-align: center;
}

.mobnav ul li a {
  text-decoration: none;
  color: gray;
}

.NEW {
  background-color: red;
  color: white;
  border-radius: 2px;
}

.border {
  border-bottom: 1px solid gray;
}

.offer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
}

.offer1 a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
}


* {
  box-sizing: border-box
}
body {
  font-family: Verdana, sans-serif; margin:0
}
.mySlides {
  display: none
}
img {
  vertical-align: middle;
}

.slideshow-container {
max-width: 100%;
position: relative;
margin: 40px auto;
}

.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding:16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

.next {
right: 0;
border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}
.active, .dot:hover {
background-color: #717171;
}

.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}
@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}
@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

#cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 80px;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 23%;
  max-width: 320px;
  text-align: center;
  padding: 1.5em;
  box-shadow: rgb(40 116 240) 0px 0px 4px 3px;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 0 4px 3px orangered;
}

.title {
  font-size: 1.3rem;
  color: rgb(109, 117, 207);
}

.category {
  color: rgb(25, 155, 226);
}

.rating {
  color: rgb(40, 116, 240);
}

.price_value {
  color: red;
}

.category,
.price,
.rating {
  font-weight: bold;
  text-transform: capitalize;
  margin: 1em;
  font-size: 1.2rem;
}

.images {
  width: 50%;
  height: 30%;
}

.addBuy {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.addtocart {
  background-color: white;
  color: black;
  font-size: large;
  font-weight: bold;
  padding: 9px;
  border: 1px solid black;
  flex-basis: 50%;
  border-radius: 5px;
  white-space: nowrap;
}

.addtocart:hover {
  background-color: black;
  color: white;
}

.buynow {
  background-color: orangered;
  color: white;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  flex-basis: 50%;
  border-radius: 5px;
  white-space: nowrap;
}

.buynow:hover {
  background-color: white;
  color: orangered;
  border: 1px solid orangered;
}

/* .count {
  color: rgb(73, 220, 251);
} */

/* .rating {
  color: rgb(217, 211, 0);
} */

@media screen and (min-width:768px) and (max-width:1280px) {
  .offer {
      margin-top: 150px;
      justify-content: flex-start;
  }
  .prev, .next,.text {font-size: 14px}
}

@media screen and (max-width: 768px) {
  header {
    justify-content: space-between;
  }

  header>* {
    padding-bottom: 8px;
  }

  .burger_menu {
    display: block;
  }

  .burger_menu::before {
    content: "\2261";
    font-size: 40px;
    color: rgb(80, 230, 255);
  }

  .responsive_menu:checked+label::before {
    content: "\00d7";
  }

  .mobnav {
    display: none;
  }

  .responsive_menu:checked~.mobnav {
    display: block;
  }

  .login {
    justify-content: flex-start;
    flex-grow: 1;
  }

  .logo a {
    font-size: 6px;
    text-align: center;
    white-space: nowrap;
  }

  .search {
    order: 3;
  }

  .search,
  .search input[type="text"] {
    width: 100%;
  }

  .login button {
    padding: 0;
    color: white;
    background-color: transparent;
    width: auto;
    font-weight: bold;
    font-size: 16px;
  }

  nav {
    flex-wrap: wrap-reverse;
    flex-grow: 1;
    justify-content: center;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
  }

  nav ul li {
    padding: 5px;
  }

  nav ul li:hover ul {
    display: none;
  }

  nav ul li:last-child {
    display: block;
  }

  nav ul li:not(:last-child) {
    padding-right: 5px;
  }

  nav ul li:nth-child(2) {
    display: none;
  }

  nav ul li:nth-child(3) {
    display: none;
  }

  .card {
    flex-grow: 1;
  }
  .offer {
    overflow-x: auto;
    justify-content: flex-start;
}
.prev, .next,.text {font-size: 11px}
  .dot{
  height: 10px;
  width: 10px;
  }
}
